@charset "UTF-8";

//CSS Priority
//
//記述はレイアウトの構造優先
//-----------------------------
//1.width,height
//2.float,clear
//3.position,top,bottom,left,right
//4.overflow,display
//5.margin,padding
//6.text-align
//7.font,line-height
//8.background,border
//9.etc....
//-----------------------------
//
//フォントサイズ：%表示（20px以降はpxで可）
//余白の間隔は20pxの倍数にする


@import "partials/_setting";
@import "partials/_mixin";
@import "partials/_function";
@import "partials/_reset";



html	{ height:100%; -webkit-text-size-adjust: none;}
body	{ height:100%; margin: 0; padding: 0; text-align:left; font-family:Helvetica,$fontGothic;
	& > #wrapper { height:auto;}
}
#wrapper { /*min-width:1080px; */width: 100%; height:100%; min-height:100%; overflow:hidden; margin:0 auto; position:relative; }
.container { /*margin:2%;*/ padding: 3.5% 2.5% 3.5% 3%; /*border: 1px solid #727272;*/ box-sizing: border-box;}

@include iphone	{
	#wrapper	{ height:1280px;}
}
@include ipad	{
	#wrapper	{ height:1280px;}
}

p::selection,h1::selection,h2::selection,h3::selection,h4::selection,a::selection,img::selection,em::selection,strong::selection,dd::selection,dt::selection,u::selection,dfn::selection,li::selection{ color:scheme(key); background:#ccc;}
*::-moz-selection { color:scheme(key); background:#ccc;}



// WEB-FONT ///////////////////////////////////////

@font-face {
	font-family:'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-twitter:before,
.icon-facebook:before,
.icon-new-window:before,
.icon-mail:before { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased;}

.icon-facebook:before {content: "\e001";}
.icon-new-window:before {content: "\e000";}
.icon-twitter:before {content: "\e002";}
.icon-mail:before {content: "\e003";}



/*-------------------------------------------------------------------------------------------------*
HEADER
--------------------------------------------------------------------------------------------------*/
#header	{ position:relative; z-index:10;}
#vi	{ display: inline-block; @include top-left(3%,0,10,fixed); font-size:fs(30); font-family:'Raleway'; font-weight:700; line-height:1; letter-spacing:1.5px; transition:linear 1s; opacity: 0;
	.viLine	{ display:inline-block; vertical-align:middle; margin: -2px 4px 0 5px; font-family:Helvetica,Arial,sans-serif; font-size:13px; transition:linear 0.6s;
		&:nth-child(2)	{ margin-left:4px;}
	}
	.viO	{ margin:0 2px 0 1px;}
	&.is-displayed { opacity: 1; transition:ease-in 1s 0.4s;}
}		

//メインナビ
#mainNav	{ @include top-right(0,0,10); overflow:hidden; @include transition(linear,1s,opacity); display:none;
	li	{ float:left; padding:3px 16px 3px 3px;
		span	{ display:inline-block; margin:0; font-size:8px; color:#ccc; display:none;}
		a	{ display:block; padding:0 9px 2px; color:#000; font-size:10px; font-family:'Raleway'; font-weight:700; line-height:1; letter-spacing:1px; @include transition; background:#d0d0d0; @include radius(2px); text-decoration:none;
			&:hover	{ background:scheme(linkHover); @include box-shadow(0 0 3px scheme(linkHover));}
		}
		&.current	{
			a{ background:#333;
				&:hover	{ @include box-shadow(none);}
			}
		}
		&:last-child { padding-right: 0;}
	}
}

//暗転時
.fadeOut{
	#vi{ 
		.viLine{ animation:blackout 2.5s linear infinite alternate;}
	}
	#mainNav	{ opacity:0.3;}
}



/*-------------------------------------------------------------------------------------------------*
CONTENTS
--------------------------------------------------------------------------------------------------*/
#contents	{ width:100%; min-height:100%; overflow:hidden; position:relative; margin:0 auto; padding:220px 0 200px 230px; z-index:10; transition:opacity 1.5s linear; box-sizing: border-box;
	.fadeOut &		{ opacity:0.3;}
}

//セクション
.section {padding: 0 0 0 0; box-sizing: border-box;}

//カラム
.column { width:100%; @include clearfix; position: relative;
	&__hd { margin:0 0 18px; font-family:'Raleway'; font-size:12px; letter-spacing:2px; line-height: 1;}
	& + .column { margin-top: 60px;}
}
.column--2 {
	& > .column__child { width: 50%; float: left; padding:0 1.5% 0 0; margin: 0 2% 0 0; box-sizing: border-box;
		&:last-child { width: 48%; padding: 0; margin-right:0;}
	}
}
.column--3 {
	& > .column__child { width: 33%; float: left; padding:0 2% 0 0; margin: 0 2% 0 0; box-sizing: border-box;
		&:last-child { width: 30%; padding: 0; margin-right:0;}
	}	
}

//テキスト
.hd-name	{ margin:0 0 80px 0; font-size:12px; font-family:'Raleway'; font-weight:700; line-height:1; letter-spacing:3px;
	&__sub-blc 	{ /*float: left; */display: block; padding: 2px 10px 1px 0;}
	&__sub 		{ display:block; padding:0 0 2px; /*font-size:11px;*/ font-weight:700; letter-spacing:3px;}
}
#headName,
#headNameSub,
#headNameSub_02{
	span {opacity: 0;}
}
.txtCopy 	{ float:left; font-size:15px; line-height:1.5; letter-spacing:2px; font-weight:bold;
	&.en 	{ font-size: 14px; letter-spacing: 1.5px;}
}
.txt		{ font-size:12px; line-height:1.6; letter-spacing:1.5px; @include text-justify;
	&.en	{ font-size:11px; line-height:1.4; letter-spacing:1.5px;}
	&.ko	{ line-height:1.5;}
}

.start {
	.column__child { border-color: transparent;}
}


#page_01 	{}
#txtCopy_01,
#txtCopy_02,
#txtCopy_01_02,
#txtCopy_02_02,
#txtCopy_03,
#txtCopy_03_02{
		span {opacity: 0; font-weight:bold;}
}

#message	{  margin-bottom:30px;
	.column__child { transition: 0.5s cubic-bezier(.51, .09, .93, .29);}
}
#profile { opacity: 0; transition:opacity 0.5s ease-in;}
#about	{ margin-bottom:40px; opacity: 0; transition:opacity 0.5s 0.5s cubic-bezier(.51, .09, .93, .29);}


/*----------- sketch -----------*/
#sketch  { opacity: 0; transition:opacity 0.5s 1s cubic-bezier(.51, .09, .93, .29);
	.column__hd { padding-top: 60px; position: relative;
		&:before { content: " "; @include wh(48%,1); @include top-left; border-top: 1px dotted #333;}
		&:after { content: " "; @include wh(48%,1); @include top-right; border-top: 1px dotted #333;}
	}
	a { color: white;}
}
.sketch-item {  letter-spacing:3px; font-family:'Raleway'; line-height:1; font-weight:700; color:#fff;
	&__txt 	{ display: inline-block; margin: 0 0 0 20px; letter-spacing:1.5px; font-weight: normal;}
	&__number { display: inline-block;
		&:after { content:"：";}
	}
	& + & { margin-top: 15px;}
}


/*----------- works -----------*/
#works  { opacity: 0; transition:opacity 0.5s 1s cubic-bezier(.51, .09, .93, .29);
	.column__hd { padding-top: 60px; position: relative;
		&:before { content: " "; @include wh(48%,1); @include top-left; border-top: 1px dotted #333;}
		&:after { content: " "; @include wh(48%,1); @include top-right; border-top: 1px dotted #333;}
	}
}
.works-item { 
	&__hd  { display: inline-block; margin: 0 0 7px; color: inherit; font-weight: bold; letter-spacing: 2px; border-bottom: 1px dotted #999; text-decoration: none; transition:ease-out 0.2s color;
		&:hover { color: #f00;}
	}
	&__txt { display: block; font-size:12px; line-height:1.6; letter-spacing:1.5px; @include text-justify;
		.en	{ font-size:11px; line-height:1.4; letter-spacing:1.5px;}
	}
	& + .works-item { margin-top: 20px;}
}





/*-------------------------------------------------------------------------------------------------*
FOOTER
--------------------------------------------------------------------------------------------------*/
#footer	{ width:100%; padding:8px 0 0 230px; margin:0 auto; @include bottom-left(0,0,30); @include sizing;  box-sizing: border-box;

	//時間スタイル
	.midNight &	{ background:#000;
		//&:hover	{ background:#111;}
	}	
	
	//インナー
	#footer-inner	{ width:$width; padding:0 0 0; position:relative; margin:0 auto;}

	//linkボタン
	#link	{ width:$width; padding:0 0 1.5% 3%; overflow:hidden; @include sizing;  @include transition(linear,1s,opacity);
		li	{ float:left; position:relative; padding:0 20px 0 20px;
			a	{ color:#fff; font-size:fs(12); letter-spacing:1.5px; @include transition(ease-out,0.2s,color); text-decoration:none; line-height: 1;}
			a:hover	{ color:#F00; text-shadow:0 0 3px #FF0000;}
			span { @include top-left; font-size:13px;}
			&:first-child { padding-left: 18px;}
		}
	}
	
	//作品名
	#canvas-work	{ @include bottom-right(0,40,10); margin-bottom: 1.5%;
		p	{ letter-spacing:3px; font-family:'Raleway'; line-height:1; font-size:10px; font-weight:700; color:#fff;}
		span	{ font-size:11px;}
	}
	
	
	//暗転時///////////////////////////////////////
	.fadeOut &	{
		#link	{ opacity:0.3;}
	}
}




/*-------------------------------------------------------------------------------------------------*
BACKGROUND
--------------------------------------------------------------------------------------------------*/
#canvas-iframe {display: block;width: 100%;height: 100%; left: 0px; position: fixed; bottom: 0; overflow: hidden;}
#background	{ @include wh(100%,auto); overflow:hidden;}
#mask		{ @include wh(100%,100%); @include top-left(0,0,100); background:#000;}


@keyframes blackout{
	0% { color:#fff; text-shadow:0 0 10px #fff;}
	100% { color:#000; text-shadow:0 0 0 #000;}
}



/*-------------------------------------------------------------------------------------------------*
SKIN
--------------------------------------------------------------------------------------------------*/
#midNight	{ color:#eee; background: #000;
	#wrapper {
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5MWExYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -ms-linear-gradient(top,  #131313 0%,#000000 80%); /* IE10+ */
		background: linear-gradient(to bottom,  #131313 0%,#000000 80%); /* W3C */
	}

	#contents{
		.profileBox	p	{ border-color: #777;}
	}

	.fadeOut{
		#header{
			#vi{ color:#000;}
			#mainNav	{ opacity:0.05;}
		}
		#contents	{ opacity:0.05;}
		#footer	#link	{ opacity:0.05;}
	}
	
	@keyframes blackout{
		0% { color:#f00; text-shadow:0 0 10px #f00;}
		100% { color:#000; text-shadow:0 0 0 #000;}
	}
}








