@charset "UTF-8";

//CSS Priority
//
//記述はレイアウトの構造優先
//-----------------------------
//1.width,height
//2.float,clear
//3.position,top,bottom,left,right
//4.overflow,display
//5.margin,padding
//6.text-align
//7.font,line-height
//8.background,border
//9.etc....
//-----------------------------
//
//フォントサイズ：%表示（20px以降はpxで可）
//余白の間隔は20pxの倍数にする


@import "partials/_setting";
@import "partials/_mixin";
@import "partials/_function";
@import "partials/_reset";



html	{ height:100%; -webkit-text-size-adjust: none;}
body	{ height:100%; text-align:left; font-family:Helvetica,$fontGothic;
	& > #wrapper { height:auto;}
}
#wrapper { min-width:1080px; height:100%; min-height:100%; overflow:hidden; margin:0 auto; position:relative; background: #0099cc; background: linear-gradient(190deg,  #0099cc 0%,#004888 67%,#00285c 100%); }

@include iphone	{
	#wrapper	{ height:1280px;}
}
@include ipad	{
	#wrapper	{ height:1280px;}
}

p::selection,h1::selection,h2::selection,h3::selection,h4::selection,a::selection,img::selection,em::selection,strong::selection,dd::selection,dt::selection,u::selection,dfn::selection,li::selection{ color:scheme(key); background:#ccc;}
*::-moz-selection { color:scheme(key); background:#ccc;}



// WEB-FONT ///////////////////////////////////////

@font-face {
	font-family:'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-twitter:before,
.icon-facebook:before,
.icon-new-window:before,
.icon-mail:before { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased;}

.icon-facebook:before {content: "\e001";}
.icon-new-window:before {content: "\e000";}
.icon-twitter:before {content: "\e002";}
.icon-mail:before {content: "\e003";}



/*-------------------------------------------------------------------------------------------------*
HEADER
--------------------------------------------------------------------------------------------------*/
#header	{ width:$width; margin:0 auto; padding:40px 0 0; position:relative; z-index:10;}

//タイトル
#vi	{ margin:0 0 120px; font-size:fs(30); font-family:'Raleway'; font-weight:700; line-height:1; letter-spacing:1.5px; transition:linear 1s;
	.viLine	{ display:inline-block; vertical-align:middle; margin: -2px 4px 0 5px; font-family:Helvetica,Arial,sans-serif; font-size:13px; transition:linear 0.6s;
		&:nth-child(2)	{ margin-left:4px;}
	}
	.viO	{ margin:0 2px 0 1px;}
//	.lfn { opacity: 0;}
}		

//メインナビ
#mainNav	{ @include top-right(57,5,10); overflow:hidden; @include transition(linear,1s,opacity); display:none;
	li	{ float:left; padding:3px 16px 3px 3px;
		span	{ display:inline-block; margin:0; font-size:8px; color:#ccc; display:none;}
		a	{ display:block; padding:0 9px 2px; color:#000; font-size:10px; font-family:'Raleway'; font-weight:700; line-height:1; letter-spacing:1px; @include transition; background:#d0d0d0; @include radius(2px); text-decoration:none;
			&:hover	{ background:scheme(linkHover); @include box-shadow(0 0 3px scheme(linkHover));}
		}
		&.current	{
			a{ background:#333;
				&:hover	{ @include box-shadow(none);}
			}
		}
	}
}

//暗転時
.fadeOut{
	#vi{ 
		.viLine{ @include animation(blackout 2.5s linear infinite alternate);}
	}
	#mainNav	{ opacity:0.3;}
}



/*-------------------------------------------------------------------------------------------------*
CONTENTS
--------------------------------------------------------------------------------------------------*/
#contents	{ width:$width; min-height:100%; overflow:hidden; position:relative; margin:0 auto; padding:  0 0 150px; z-index:10; transition:opacity 1.5s linear; 

	//インナー
	//#contents-inner	{ width:$width; @include top-left;}
	.fadeOut &		{ opacity:0.3;}
}


//ブロック要素
.blcColumnParent { width:1080px; margin:0 0 10px 3px; overflow:hidden;}
.blcColumn3 { width: 340px; float: left; padding:0 30px 0 0; margin: 0 30px 0 0; border-right:1px solid #666; box-sizing: border-box;
	&:last-child { padding-right:10px; margin-right:0; border: none;}
}

//テキスト要素
.head-01	{ margin:0 0 120px 0; font-size:fs(22); font-family:'Raleway'; font-weight:700; line-height:1; letter-spacing:2px;
	.sub	{ display:block; padding:0 0 4px 1px; font-size:13px; font-weight:700; letter-spacing:3px;}
}
.head-min	{ margin:0 0 10px; font-family:'Raleway'; font-size:12px; letter-spacing:1.5px;}
.txtCopy 	{ float:left; font-size:15px; line-height:1.5; letter-spacing:2px; font-weight:bold;}
.txt		{ font-size:11px; line-height:1.6; letter-spacing:1.5px; @include text-justify;
	&.en	{ font-size:10px; line-height:1.4; letter-spacing:1.5px;}
	&.ko	{ line-height:1.5;}
}

.start {
	.blcColumn3 { border-color: transparent;}
}


#page_01 	{}
#headName,
#headNameSub{
	span {opacity: 0;}
}
#txtCopy_01,
#txtCopy_02,
#txtCopy_01_02,
#txtCopy_02_02,
#txtCopy_03,
#txtCopy_03_02{
		span {opacity: 0; font-weight:bold;}
}

#message	{  margin-bottom:30px;
	.blcColumn3 { transition: 0.3s linear;}
}
#profile { opacity: 0; transition:opacity 1.5s linear;}
#about	{ margin-bottom:40px; opacity: 0; transition:opacity 1.5s 0.8s linear;}


//ページ2
#page_02	{ width:$width; min-height:650px; margin:0 0 40px 3px; overflow:hidden; display:none;}

//ワークス
#works	{ width:2000px; overflow:hidden;
	h3	{ margin:0 0 20px; font-family:'Raleway'; font-size:12px; letter-spacing:1.5px;}	
	dl	{ width:$width / 7 - 14; float:left; padding: 0 15px 0 0; margin:0 15px 0 0; @include sizing; font-size:11px; line-height:1.6; letter-spacing:1.5px;
		//dl	{ width:$width; padding:0 15px 0 0; margin:0 15px 20px 0; @include sizing; font-size:11px; line-height:1.6; letter-spacing:1.5px;
		dt	{ height:400px; margin:0 0 5px 0; @include sizing; background:#fff;}
		dd	{ font-size:11px;}
	}
	dl:last-child	{ margin:0; border:none;}
	a	{ color:#fff; @include transition(ease-out,0.2s,color)}
	a:hover	{ color:#F00; text-shadow:0 0 3px #f00;}
}




/*-------------------------------------------------------------------------------------------------*
FOOTER
--------------------------------------------------------------------------------------------------*/
#footer	{ width:100%; padding:8px 0 0; margin:0 auto; @include bottom-left(0,0,30); background:rgba(0,0,0,0.5); @include sizing; 

	//時間スタイル
	.midNight &	{ background:#000;
		//&:hover	{ background:#111;}
	}	
	
	//インナー
	#footer-inner	{ width:$width; padding:0 0 8px; position:relative; margin:0 auto;}

	//linkボタン
	#link	{ width:$width; padding:0 0 0 0px; overflow:hidden; @include sizing;  @include transition(linear,1s,opacity);
		li	{ float:left; position:relative; padding:0 20px 0 20px;
			a	{ color:#fff; font-size:fs(12); letter-spacing:1.5px; @include transition(ease-out,0.2s,color); text-decoration:none;}
			a:hover	{ color:#F00; text-shadow:0 0 3px #FF0000;}
			span { @include top-left; font-size:13px;}
		}
	}
	
	//作品名
	#canvas-work	{ @include bottom-right(12,40,10);
		p	{ letter-spacing:3px; font-family:'Raleway'; line-height:1; font-size:10px; font-weight:700; color:#fff;}
		span	{ font-size:11px;}
	}
	
	
	//暗転時///////////////////////////////////////
	.fadeOut &	{
		#link	{ opacity:0.3;}
	}
}




/*-------------------------------------------------------------------------------------------------*
BACKGROUND
--------------------------------------------------------------------------------------------------*/
#background	{ @include wh(2000px,1200px); @include top-left; overflow:hidden;}
#mask		{ @include wh(100%,100%); @include top-left(0,0,100); background:#000;}


@include keyframes(blackout){
	0% { color:#fff; text-shadow:0 0 10px #fff;}
	100% { color:#000; text-shadow:0 0 0 #000;}
}



/*-------------------------------------------------------------------------------------------------*
SKIN
--------------------------------------------------------------------------------------------------*/
#midNight	{ color:#eee; background: #000;
	#wrapper {
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5MWExYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -ms-linear-gradient(top,  #131313 0%,#000000 80%); /* IE10+ */
		background: linear-gradient(to bottom,  #131313 0%,#000000 80%); /* W3C */
	}

	#contents{
		.profileBox	p	{ border-color: #777;}
	}

	.fadeOut{
		#header{
			#vi{ color:#000;}
			#mainNav	{ opacity:0.05;}
		}
		#contents	{ opacity:0.05;}
		#footer	#link	{ opacity:0.05;}
	}
	
	@include keyframes(blackout){
		0% { color:#f00; text-shadow:0 0 10px #f00;}
		100% { color:#000; text-shadow:0 0 0 #000;}
	}
}








